<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<pluginGroups>
        <pluginGroup>org.mule.tools</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>Mule</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
                <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
                <downloadSources>true</downloadSources>
                <downloadJavadocs>false</downloadJavadocs>
            </properties>
            <repositories>
                <repository>
                    <id>mulesoft-releases-ee</id>
                    <name>mule-ee</name>
                    <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>public-release</id>
                    <name>public-release</name>
                    <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>mulesoft-releases</id>
                    <name>MuleSoft Releases Repository</name>
                    <url>https://repository.mulesoft.org/releases/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>mulesoft-public</id>
                    <name>Mule Nexus Public Repository</name>
                    <url>https://repository-master.mulesoft.org/nexus/content/groups/public/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>Central</id>
                    <name>Central</name>
                    <url>https://repo1.maven.org/maven2/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>archetype</id>
                    <name>Mule Repository</name>
                    <url>https://repository-master.mulesoft.org/nexus/content/repositories/public</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>fail</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>mule-public</id>
                    <url>https://repository.mulesoft.org/nexus/content/repositories/releases/</url>
                </pluginRepository>
                <pluginRepository>
                    <id>Central</id>
                    <url>https://repo1.maven.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>mulesoft-releases</id>
                    <name>mulesoft release repository</name>
                    <layout>default</layout>
                    <url>https://repository.mulesoft.org/releases/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>maven</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
                <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
                <downloadSources>true</downloadSources>
                <downloadJavadocs>false</downloadJavadocs>
            </properties>
            <repositories>
                <repository>
                    <id>Central</id>
                    <name>Central</name>
                    <url>https://repo1.maven.org/maven2/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>Central</id>
                    <url>https://repo1.maven.org/maven2/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>MuleEE</id>
            <repositories>
                <repository>
                    <id>MuleEE</id>
                    <name>MuleEE</name>
                    <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>anypoint-exchange-v3</id>
                    <name>Anypoint Exchange</name>
                    <url>https://maven.eu1.anypoint.mulesoft.com/api/v3/maven</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>AnypointPlatform</id>
                    <name>AnypointPlatform</name>
                    <url>https://maven.eu1.anypoint.mulesoft.com/api/v1/organizations/${org.id}/maven</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>artifactory</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>...-releases</name>
                    <url>https://artifacts....com:443/artifactory/...maven</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <servers>
        <server>
			<id>anypoint-exchange-v3</id>
			<username>~~~Client~~~</username>
			<password>${anypoint_username}~?~${anypoint_password}</password>
		</server>
        <server>
            <id>mulesoft-releases-ee</id>
            <username>${nexus_username}</username>
            <password>${nexus_password}</password>
        </server>
        <server>
            <username>${jfrog_username}</username>
            <password>${jfrog_accesstoken}</password>
            <id>central</id>
        </server>
        <server>
            <username>${jfrog_username}</username>
            <password>${jfrog_accesstoken}</password>
            <id>snapshots</id>
        </server>
    </servers>
    <activeProfiles>
        <activeProfile>Mule</activeProfile>
        <activeProfile>maven</activeProfile>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
